@import '../../utils/common-styles';

.myBookScreenInfo__backButton {
  display: flex;
  justify-content: left;
  border-bottom: $borderColor;
}

.myBookScreenInfo {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}