@import '../../../utils/common-styles';

.myBookImageContainer {
  width: 50%;
  height: auto;
  background-color: #888888;
}

.myBookScreenContainer {
  display: flex;

  &__categories {
    @extend .categories;
    font-style: italic;
    margin-left: 0;
  }
  &__title {
    @extend .title;
    margin-left: 0;
  }
  &__authors {
    @extend .authors;
    text-decoration: underline;
    margin-left: 0;
  }
  &__info {
    border: $borderColor;
    text-align: left;
    padding: 10px;
  }
  &__google {
    display: flex;
    justify-content: right;
  }
}

.myBookInfoContainer {
  width: 50%;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;


}

.myBookInfoButtonsContainer {
  display: flex;
}