@import '../../utils/common-styles';

.myBookCard {
  background-color: #e3e8e6;
  list-style: none;
  text-align: left;

  &__image {
    margin: 2vh 0;
    text-align: center;

    a {
      &:hover {
        transition: opacity 0.5s;
        opacity: 0.3;
      }

      img {
        height: 200px;
        max-width: 200px;
      }
    }
  }

  &__categories {
    @extend .categories;
    text-decoration: underline;
  }
  &__title {
    @extend .title;
  }
  &__authors {
    @extend .authors;
  }
}
