.myBookCard {
  background-color: #c1caca;
  list-style: none;
  text-align: left;

  &__image {
    margin: 2vh 0;
    text-align: center;

    a {
      &:hover {
        background-color: black;
      }

      img {
        height: 200px;
        max-width: 200px;
      }
    }
  }

  &__categories {
    margin: 0 15px;
    text-decoration: underline;
    color: gray;
    opacity: 0.5;
    font-size: 14px;
  }

  &__title {
    text-decoration: none;
    margin: 1vh 15px;
    display: block;
    color: black;
    font-weight: bold;
  }

  &__authors {
    margin: 0 15px 1vh 15px;
    color: gray;
    opacity: 0.8;
  }
}
